* {
    padding: 0px;
    margin: 0px;
    font-family: url(fonts/static/Inter-Bold.ttf);

}

.main{
    
    width: 100%;
    height: 100vh;
    background: black;
    align-content: center;
    justify-items: center;
}

.tile {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 400px;
    background: rgb(44, 43, 43);
    border-radius: 7px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px rgba(236, 29, 29, 0.7);
    transition: box-shadow 0.5s ease;
    
    &:hover{
    
    box-shadow: 0 0 30px rgba(8, 125, 129, 0.93);
}

}

.profile {
    width: 150px;
    height:  150px;
    border-radius: 50%;
    background-image: url("images/saifullah .jpg");
    background-size: cover;
    
}

.name {
    text-align: center;
    font-size: 12px;
    color: grey;
}

.name p {
    margin-top: 5x;
    color: rgb(40, 159, 159);
    font-size: 18px;
}

.designation {
    color: grey;
}

.center {
    width: 40vh;
    height: 40px;
    margin: 15px 0 10px;
    background: #4c4b4b;
    text-align:  center;
    align-content: center;
    
    border-radius: 7px;
    transition: box-shadow 0.7 ease;
    transition: background 0.7 ease-in;
&:hover {
    background: #1f9888;
    box-shadow: 0 0 10px rgba(8, 125, 129, 0.93);
}
}

a {
    text-decoration: none;
    color: rgb(180, 177, 177);
    
}
